<style>
  body {
      background-image: url('http://res.cloudinary.com/disran0g3/image/upload/v1439775018/ltqmdnydawx6wmdlm3qt.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
</style>
<div class='pad'>
  <div class='container-fluid'>
    <div class="form signin col-sm-6">
      <h1>Sign In</h1>
      <%= render 'shared/errors' %>
      <form action="<%= session_url %>" method="post">
        <%= auth_token %>
        <br>
          <input type="text" class="form-control" name="user[username]" placeholder="username">
          <input type="password" class="form-control" name="user[password]" placeholder="password">
        <input type="submit" value="Login" class="btn btn-primary sign-in">
      </form>
    </div>
    <%= render "users/new" %>
  </div>
</div>
