<style>
  body {
      background-image: url('http://res.cloudinary.com/disran0g3/image/upload/v1439775018/ltqmdnydawx6wmdlm3qt.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
</style>
<div class='pad'>
<div class="form">
  <h2>Sign In</h2>
  <%= render 'shared/errors' %>
  <form action="<%= session_url %>" method="post">
    <%= auth_token %>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Username</span>
      <input type="text" class="form-control" name="user[username]" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Password</span>
      <input type="passowrd" class="form-control" name="user[password]" aria-describedby="basic-addon2">
    </div>
    <br>
    <input type="submit" value="Login" class="btn btn-primary sign-in">
  </form>
</div>
</div>
