<div id="sign">
  <div class="form">
    <h1>Sign In</h1>
    <form action="<%= session_url %>" method="post">
      <%= auth_token %>
      <label for="username">Username</label>
      <input type="text"
             id="username"
             name="user[username]"
             class="form-control">
      <br>
      <label for="password">Password</label>
      <input type="password"
             id="password"
             name="user[password]"
             class="form-control">
      <br>
      <input type="submit" value="Login" class="form-control">
    </form>
  </div>
</div>
