/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/* Global */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 $green: #6CA180;
 $beige: #D9C49A;
 $hersheybrown: #473016;
 $wood: #664116;
 $bark: #915E23;

#map-canvas {
  height: 100%;
  width: 100%;
  img { max-width: none; }
}

.messages {
  position: absolute;
  top: 10px;
  right: 70px;
  max-width: 70%;
  z-index: 1000;
  padding: 20px 0;
  font-size: 1.5em;
}
/* modals */

.m-background {
  background: rgba(235,234,239, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.m-content {
  z-index: 12;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


/* base view */
.parent {
  position: relative;
  .google-maps {
    height: 100vh;
    width: 100%;
  }
  .top-right {
    padding: 17px 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 2.5em;
    line-height: 1;
    color: #A52C1B;
    font-weight: bold;
    z-index: 10;
    text-align: right;
    a {
      color: #A52C1B;
    }
    a:hover {
      color: #442813;
      cursor: pointer;
      text-decoration: none;
    }
    .bar {
      text-align: right;
      line-height: 1.2;
    }
    .confirmation {
      position: relative;
      top: 40vh;
      font-size: 0.4em;
    }
  }
  .top-right:hover {
    cursor: pointer;
    text-decoration: none;
  }
  .ham-nav {
    text-align: right;
    border-radius: 5px;
    border: none;
    background: rgba(235,234,239, 0.7);
    li {
      font-size: 2.5em;
      padding: 0px;
    }
  }
}

 @media (min-width: 768px) {
   .parent {
     position: relative;
     .google-maps {
       height: 100vh;
       width: 100%;
     }
     .top-right {
       padding: 20px;
       position: absolute;
       top: 0px;
       right: 0px;
       font-size: 3em;
       line-height: 1;
       color: #A52C1B;
       font-weight: bold;
       z-index: 10;
       text-align: right;
       a {
         color: #A52C1B;
       }
       a:hover {
         color: #442813;
         cursor: pointer;
         text-decoration: none;
       }
       .bar {
         text-align: right;
         line-height: 1.2;
         width: 250px;
       }
       .confirmation {
         position: relative;
         top: 15vh;
         font-size: 0.5em;
       }
     }
     .top-right:hover {
       color: #AE833F;
       cursor: pointer;
       text-decoration: none;
     }

   }
 }




/* about */

.about {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  text-align: center;
  .headliner {
    height: 80vh;
    position: relative;
    overflow: hidden;
    img {
      min-width: 100%;
      min-height: 100%;
    }
    .words {
      position: absolute;
      top: 30%;
      color: white;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 3.5em;
      font-weight: bold;

      .sub-words {
        font-size: 0.6em;
      }
      .front {
        margin-top: 20px;
        font-size: 0.5em;
        background-color: #A52C1B;
        border: none;
      }
      .front:hover {
        background-color: #AE833F;
        border: none;
      }
    }
  }
  .secondary-topic {
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    overflow-y: scroll;
    .title {
      font-size: 2em;
      font-weight: bold;
      color: #A52C1B;
      line-height: 2.5;
      text-align: left;
    }
    .image {
      margin: 5px;
      height: 75vh;
      overflow: hidden;
      box-sizing: border-box;
      border-radius: 5px;
      position: relative;
      color: white;
      a {
        color: white;
      }
      a:hover {
        color: #AE833F;
      }
      img {
        min-height: 100%;
        min-width: 100%;
      }
      .words {
        position: absolute;
        top: 10px;
        padding: 20px;
        font-size: 2.5em;
        text-align: center;
      }
      .words2 {
        position: absolute;
        bottom: 10px;
        padding: 20px;
        font-size: 2.5em;
        text-align: center;
        text-shadow:
          -2px -2px 0 #000,
          2px -2px 0 #000,
          -2px 2px 0 #000,
          2px 2px 0 #000;
      }
    }
    .image:hover {
      border: 2px solid #AE833F;
      cursor: pointer;
    }
  }
  .tertiary-topic {
    box-sizing: border-box;
    padding: 20px;
    overflow-y: scroll;
    background: rgba(235,234,239, 0.6);
    .title {
      font-size: 2em;
      font-weight: bold;
      color: #A52C1B;
      line-height: 1.5;
      text-align: left;
    }
    .image {
      margin: 5px;
      height: 48vh;
      overflow: hidden;
      box-sizing: border-box;
      border-radius: 5px;
      position: relative;
      color: white;
      img {
        min-height: 100%;
        min-width: 100%;
      }
      a {
        color: white;
      }
      a:hover {
        color: #AE833F;
      }
      .words {
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 20px;
        font-size: 2em;
        text-align: right;
        text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
      }
    }
    .image:hover {
      color: #AE833F;
      border: 2px solid #AE833F;
      cursor: pointer;
    }
  }
  .footer {
    height: 20vh;
    text-align: right;
    color: #442813;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .about {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
    .headliner {
      height: 90vh;
      position: relative;
      overflow: hidden;
      img {
        min-width: 100%;
        min-height: 100%;
      }
      .words {
        position: absolute;
        top: 30%;
        color: white;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 5em;
        font-weight: bold;

        .sub-words {
          font-size: 0.5em;
        }
        .front {
          margin-top: 20px;
          font-size: 0.5em;
          background-color: #A52C1B;
          border: none;
        }
        .front:hover {
          background-color: #AE833F;
          border: none;
        }
      }
    }
    .secondary-topic {
      box-sizing: border-box;
      padding: 0 20px 20px 20px;
      overflow-y: scroll;
      .title {
        margin-top: 10vh;
        font-size: 3em;
        font-weight: bold;
        color: #A52C1B;
        line-height: 2.5;
        text-align: left;
      }
      .image {
        margin: 5px;
        height: 75vh;
        overflow: hidden;
        box-sizing: border-box;
        border-radius: 5px;
        position: relative;
        color: white;
        img {
          min-height: 100%;
          min-width: 100%;
        }
        .words {
          position: absolute;
          top: 10px;
          padding: 20px;
          font-size: 2.5em;
          text-align: center;
        }
        .words2 {
          position: absolute;
          bottom: 10px;
          padding: 20px;
          font-size: 2.5em;
          text-align: center;
          text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
        }
      }
      .image:hover {
        color: #AE833F;
        border: 2px solid #AE833F;
        cursor: pointer;
      }
    }
    .tertiary-topic {
      box-sizing: border-box;
      padding: 20px;
      overflow-y: scroll;
      background: rgba(235,234,239, 0.6);
      .title {
        font-size: 3em;
        font-weight: bold;
        color: #A52C1B;
        line-height: 1.5;
        text-align: left;
      }
      .image {
        margin: 5px;
        height: 48vh;
        overflow: hidden;
        box-sizing: border-box;
        border-radius: 5px;
        position: relative;
        color: white;
        img {
          min-height: 100%;
          min-width: 100%;
        }
        .words {
          position: absolute;
          bottom: 0px;
          right: 0px;
          padding: 20px;
          font-size: 2em;
          text-align: right;
          text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        }
      }
      .image:hover {
        color: #AE833F;
        border: 2px solid #AE833F;
        cursor: pointer;
      }
    }
    .footer {
      height: 20vh;
      text-align: right;
      color: #442813;
      font-size: 1.2em;
      font-weight: bold;
      padding: 10px;
    }
  }
}

 /* search map */

 .header {
   position: absolute;
   top: 0px;
   padding: 10px;
   font-size: 2.5em;
   font-weight: bold;
   color: #A52C1B;
   max-width: 70%;
 }
.search-options {
   width: 30%;
   margin-top: -15px;
   .search-input {
     border-radius: 5px;
     font-weight: normal;
     font-size: 0.6em;
     padding-left: 5px;
     color: #AE833F;
   }
 }
 @media (min-width: 768px) {
   .header {
     position: absolute;
     top: 0px;
     padding: 10px 20px;
     font-size: 3em;
     font-weight: bold;
     color: #A52C1B;
     max-width: 70%;
   }
  .search-options {
     width: 30%;
     margin-top: -15px;
     .search-input {
       border-radius: 5px;
       font-weight: normal;
       font-size: 0.6em;
       padding-left: 5px;
       color: #AE833F;
     }
   }
 }


.trail-info {
  position: absolute;
  height: 100vh;
  padding: 25px 20px 20px 20px;
  max-width: 400px;
  left: 0px;
  top: 0px;
  background: rgba(216,205,183, 0.6);
  overflow-y: scroll;

}

.search-item {
  max-width: 300px;
  padding: 10px;
  box-sizing: border-box;
  hr {
    border: 1px solid #D8CDB7;
  }
  .title {
    color: #AE833F;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: -15px;
  }
  .description {
    color: #442813;
    font-size: 1.1em;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .picture {
    margin: 10px 0;
    max-height: 300px;
    max-width: 300px;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

/* edit profile */

.profile-box {
  position: relative;
  margin: auto;
  max-width: 300px;
  border-radius: 5px;
  padding: 10px 20px 20px 20px;
  background: rgba(68,40,19, 0.6);
  .close {
    margin-bottom: 10px;
    font-size: 2em;
  }
  .trail-form-search {
    width: 100%;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 5px;
    background-color: #EBEAEF;
    color: #AE833F;
  }
  .acorn-form-title {
    font-size: 2em;
    font-weight: bold;
    color: #EBEAEF;
  }
  textarea, input {
    width: 100%;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 5px 0;
    padding-left: 5px;
    color: #AE833F;
    box-shadow: 2px 2px 2px #888888;
  }
  textarea {
    height: 30vh;
  }
  .update {
    margin-top: -15px;
  }
}

.profile-picture {
  margin: 0 auto 10px auto;
  position: relative;
  text-align: center;
  img {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
  }
  .image-space {
    min-height: 50px;
  }
  .image {
    position: relative;
    z-index: 20;
    margin-top: -70px;
  }

}


/* sign up and in */
.pad {
  margin: 50px auto;
  background: rgba(68,40,19, 0.6);
  border-radius: 5px;
  max-width: 700px;
}
.form {
  padding: 50px;
  box-sizing: border-box;
  margin: auto;

  h1 {
    color: white;
    line-height: 1;
  }
  input {
    width: 100%;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 15px 0;
    padding-left: 5px;
  }
}

/* create-trail */

.search-box {
  width: 90%;
  margin: auto;
  border-radius: 5px;
  padding: 10px 20px 20px 20px;
  background: rgba(68,40,19, 0.6);
  .close {
    margin-bottom: 10px;
    font-size: 2em;
  }
  .trail-form-search {
    width: 100%;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 5px;
    background-color: #EBEAEF;
    color: #AE833F;
  }
  .acorn-form-title {
    font-size: 2em;
    font-weight: bold;
    color: #EBEAEF;
  }
  textarea, input {
    width: 100%;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 5px 0;
    padding-left: 5px;
    color: #AE833F;
    box-shadow: 2px 2px 2px #888888;
  }
  textarea {
    height: 30vh;
  }
}
@media (min-width: 768px) {
  .search-box {
    width: 60%;
    margin: auto;
    border-radius: 5px;
    padding: 10px 20px 20px 20px;
    background: rgba(68,40,19, 0.6);
    .close {
      margin-bottom: 10px;
      font-size: 2em;
    }
    .trail-form-search {
      width: 100%;
      border-radius: 5px;
      font-size: 1.5em;
      padding-left: 5px;
      background-color: #EBEAEF;
      color: #AE833F;
    }
    .acorn-form-title {
      font-size: 2em;
      font-weight: bold;
      color: #EBEAEF;
    }
    textarea, input {
      width: 100%;
      font-size: 1.5em;
      border-radius: 5px;
      margin: 5px 0;
      padding-left: 5px;
      color: #AE833F;
      box-shadow: 2px 2px 2px #888888;
    }
    textarea {
      height: 30vh;
    }
  }
}

.form-header {
  position: absolute;
  top: 0px;
  padding: 10px 20px;
  font-size: 2em;
  font-weight: bold;
  color: #A52C1B;
  width: 100%;
  background: rgba(235,234,239, 0.6);
  z-index: 10;
  .form-instructions {
    max-width: 70%;
  }
}
.mobile {
  position: relative;
  top: 80vh;
  button {
    font-size: 0.4em;
  }
}

@media (min-width: 768px) {
  .form-header {
    position: absolute;
    top: 0px;
    padding: 10px 20px;
    font-size: 3em;
    font-weight: bold;
    color: #A52C1B;
    width: 100%;
    background: rgba(235,234,239, 0.6);
    z-index: 10;
    .form-instructions {
      max-width: 70%;
    }
  }
  .mobile {
    position: relative;
    top: 0vh;
  }
}
/* trail-show mobile */
.full {
  background: rgb(216,205,183);
  overflow-y: visible;
}
  .trail-show {
    position: absolute;
    top: 80vh;
    padding: 25px 20px;
    width: 100%;
    .title {
      font-size: 2em;
      font-weight: bold;
      color: #A52C1B;
      line-height: 1;
    }
    .stuff {
      font-size: 0.8em;
    }
    .description {
      color: #442813;
      font-weight: normal;
      font-size: 1.2em;
    }
    hr {
      border-color: #AE833F;
    }
    .author {
      .username {
        color: #AE833F;
        line-height: 1.3;
        font-weight: bold;
        font-size: 1.5em;

      }
      .description {
        margin: 10px 0;
        color: #442813;
        font-size: 1.2em;
      }
      .picture {
        margin: 10px 0;
        img {
          border-radius: 5px;
        }
      }
    }
    .rating {
      color: #AE833F;
      line-height: 1.3;
      font-weight: bold;
    }
    .acorn-stars {
      img {
        width: 22px;
        margin: 0 1px;
      }
    }
    .review-title {
      font-size: 2em;
      font-weight: bold;
      color: #A52C1B;
      line-height: 1;
    }

    .review-show {
      margin-top: 35px;
      .review-author {
        font-size: 1.2em;
        color: #AE833F;
      }
      .content {
        font-size: 1.2em;
        color: #442813;
        margin-top: 5px;
      }
    }
    .review-header {
      color: #AE833F;
      line-height: 1.3;
      font-weight: bold;
      font-size: 2em;

    }
  }

/* trail show desktop */

@media (min-width: 768px) {
.full {
  background: rgba(216,205,183, 0.6);
  height: 100vh;
  overflow-y: scroll;
}
.trail-show {
  position: absolute;
  top: 0px;
  padding: 25px 20px;
  width: 350px;
  .title {
    font-size: 3em;
    font-weight: bold;
    color: #A52C1B;
    line-height: 1;
    visibility: visible;
  }
  .stuff {
    font-size: 0.8em;
  }
  .stuff:hover, .title:hover {
    cursor: pointer;
    color: #AE833F;
  }
  .description {
    color: #442813;
    font-weight: normal;
    font-size: 1.2em;
  }
  hr {
    border-color: #AE833F;
  }
  .author {
    .username {
      color: #AE833F;
      line-height: 1.3;
      font-weight: bold;
      font-size: 1.5em;

    }
    .description {
      margin: 10px 0;
      color: #442813;
      font-size: 1.2em;
    }
    .picture {
      margin: 10px 0;
      img {
        border-radius: 5px;
      }
    }
  }
  .rating {
    color: #AE833F;
    line-height: 1.3;
    font-weight: bold;
  }
  .acorn-stars {
    img {
      width: 22px;
      margin: 0 1px;
    }
  }
  .review-title {
    font-size: 3em;
    font-weight: bold;
    color: #A52C1B;
    line-height: 1;
  }

  .review-show {
    margin-top: 35px;
    .review-author {
      font-size: 1.2em;
      color: #AE833F;
    }
    .content {
      font-size: 1.2em;
      color: #442813;
      margin-top: 5px;
    }
  }
  .review-header {
    color: #AE833F;
    line-height: 1.3;
    font-weight: bold;
    font-size: 2em;

  }
}
}
