/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/* Global */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 $green: #6CA180;
 $beige: #D9C49A;
 $hersheybrown: #473016;
 $wood: #664116;
 $bark: #915E23;

#map-canvas {
  height: 100%;
  width: 100%;
}


/* base view */
 .parent {
   position: relative;
   .google-maps {
     height: 100vh;
     width: 100%;
   }
   .navigation {
     padding: 20px;
     position: absolute;
     top: 0px;
     right: 0px;
     font-size: 3em;
     color: #A52C1B;
     font-weight: bold;
     a {
       color: #A52C1B;
     }
     a:hover {
       color: #442813;
       cursor: pointer;
       text-decoration: none;
     }
   }
 }

 /* search map */
 .header {
   position: absolute;
   top: 0px;
   padding: 10px 20px;
   font-size: 3em;
   font-weight: bold;
   color: #A52C1B;
   .errors {
     font-size: 0.4em;
     margin-bottom: -10px;
   }
 }
.search-options {
   width: 30%;
   margin-top: -15px;
   .search-input {
     border-radius: 5px;
     font-weight: normal;
     font-size: 0.6em;
     padding-left: 5px;
     color: #AE833F;
   }
 }

 .left-hand-side {
   position: absolute;
   height: 100vh;
   width: 38%;
   padding: 20px;
   left: 0px;
   top: 0px;
   background: rgba(235,234,239, 0.6);
   overflow-y: scroll;
   textarea, input {
     width: 100%;
     font-size: 1.5em;
     border-radius: 5px;
     margin: 5px 0;
     padding-left: 5px;
     color: #AE833F;
     box-shadow: 2px 2px 2px #888888;
   }
   .instructions {
     width: 100%;
     font-size: 1.5em;
     padding: 10px;
     background-color: white;
     border-radius: 5px;
     margin: 5px 0 20px 0;
     color: #AE833F;
     line-height: 1.4;
     border: 1px solid lightgrey;
     box-shadow: 2px 2px 2px #888888;
   }
   .form-title {
     font-size: 3em;
     color: #A52C1B;
     font-weight: bold;
   }
   textarea {
     height: 58vh;
   }
 }


 .search-item {
   z-index: 100;
   img {
     max-width: 200px;
     max-height: 200px;
   }
 }

/* create-trail */
 .m-background {
   background: rgba(235,234,239, 0.6);
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1;
 }

 .m-content {
   z-index: 2;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   top: 30%;
 }

 .search-box {
   width: 60%;
   margin: auto;
   border-radius: 5px;
   padding: 10px 20px 20px 20px;
   background: rgba(68,40,19, 0.6);
   .close {
     margin-bottom: 10px;
     font-size: 2em;
   }
   .trail-form-search {
     width: 100%;
     border-radius: 5px;
     font-size: 1.5em;
     padding-left: 5px;
     background-color: #EBEAEF;
     color: #AE833F;
   }
   .acorn-form-title {
     font-size: 2em;
     font-weight: bold;
     color: #EBEAEF;
   }
   textarea, input {
     width: 100%;
     font-size: 1.5em;
     border-radius: 5px;
     margin: 5px 0;
     padding-left: 5px;
     color: #AE833F;
     box-shadow: 2px 2px 2px #888888;
   }
   textarea {
     height: 30vh;
   }
 }

 .upper-right {
   padding: 20px;
   position: absolute;
   top: 0px;
   right: 0px;
 }

.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: right;
  padding: 40px 20px;
}


/* Trail Show */

.google-maps-show {
  width: 100%;
  height: 90vh;
}
.trail-content {
  overflow-y: scroll;
  height: 90vh;
  position: relative;
  .trail-info {
    margin-bottom: 10px;
    .title {
      font-weight: bold;
      color: $green;
      font-size: 2em;
      margin-bottom: 3px;
    }
    .description {
      font-size: 1.1em;
    }
  }
  .author {
    border: 1px solid $beige;
    width: 100%;
    padding: 0 10px 10px 10px;
    img {
      width: 100%;
    }
  }
}
.acorn-stash-item {
  padding: 10px;
  width: 400px;
  img {
    width: 100%;
  }
}

/* trail form */

.google-maps-draw {
  height: 50vh;
  width: 100%;
}

.trail-form-text {
  padding: 0px 0px 5px 0px;
  font-size: 1.2em;
}

.trail-form-box {
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 5px;
  padding: 10px 0px;
}

.trail-form {
  max-width: 900px;
  margin: auto;
  padding-bottom: 50px;
  background-color: rgba(245,245,220,0.5);
  border-radius: 5px;
  padding: 15px;
  h2 {
    color: $hersheybrown;
  }
  img {
    width: 100%;
  }
  .profile-description {
    font-size: 1.2em;
    textarea {
      height: 300px;
    }
  }
  .profile-picture {
    margin-top: -15px;
    .image {
      margin-bottom: 10px;
    }
  }
  .cancel {
    float: right;
  }
  .update {
    float: right;
  }
}


/* acorn form */

.google-maps-acorn {
  width: 100%;
  height: 70vh;
}

.acorn-stash-form {
  width: 400px;
  textarea {
    height: 100px;
  }
}

.acorn-form-text {
  padding: 0px 0px 5px 0px;
  font-size: 1.5em;
}

.trail-list {
  padding: 20px;
}




/* sign up and in */
.pad {
  padding: 0 20px;
}
.form {
  max-width: 700px;
  padding: 5px 20px 60px 20px;
  margin: 50px auto;
  border: 1px solid $wood;
  border-radius: 5px;
  background-color: rgba(245,245,220,0.5);

  .sign-in {
    float: right;
  }
  h2 {
    color: $green;
  }
}

/* feed */

// .trail-list-item {
//   border: 2px solid $hersheybrown;
//   border-radius: 7px;
//   box-sizing: border-box;
//   margin-bottom: 10px;
//   color: $hersheybrown;
//   div.title {
//     background-color: $green;
//     width: 100%;
//     height: 35px;
//     margin-top: -10px;
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//     z-index: -1;
//     h5 {
//       display: block;
//       padding: 6px 15px;
//       font-size: 15pt;
//     }
//   }
//   p {
//     display: block;
//     padding: 6px 15px;
//   }
// }
