/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 $green: #6CA180;
 $beige: #D9C49A;
 $hersheybrown: #473016;
 $wood: #664116;
 $bark: #915E23;

#map-canvas {
  height: 100%;
  width: 100%;
}

/* Navbar */
.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0px;
  background-color: white;

  img.logo {
    float: left;
    height: 45px;
    width: 45px;
    margin-right: 3px;
  }

  .navbar-right li, .dropdown-menu li {
    text-align: center;
  }
}

/* Trail Show */
.clear-top {
  height: 50px;
  width: 100%;
}
.author {
  border: 1px solid $beige;
  padding: 10px;
  img {
    width: 100%;
  }
}

.title {
  font-weight: bold;
  color: $wood;
  font-size: 2em;

}
.google-maps-show {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}


.acorn-stash-item {
  margin: 5px auto;
  border: 1px solid $beige;

}


.google-maps-draw, .google-maps-search {
  height: 92vh;
  width: 100%;
  margin: 50px 0px;
}





.form {
  height: 100%;
  width: 100%;
  background-size: 100%;
}


.trail-list {
  padding: 20px;
}

.trail-list-item {
  border: 2px solid $hersheybrown;
  border-radius: 7px;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: $hersheybrown;
  div.title {
    background-color: $green;
    width: 100%;
    height: 35px;
    margin-top: -10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: -1;
    h5 {
      display: block;
      padding: 6px 15px;
      font-size: 15pt;
    }
  }
  p {
    display: block;
    padding: 6px 15px;
  }
}

.acorn-map {
  width: 100%;
  height: 300px;
  margin: auto;
}
