<div class="headliner">
  <img src="http://res.cloudinary.com/disran0g3/image/upload/e_brightness:-58/v1440282088/california-oaks_gv5ips.jpg" alt="oak tree"/>
  <div class="words">Never Lose Another Nut
      <div class="sub-words">Acorn tracking for the modern squirrel</div>
      <button class="btn btn-danger btn-lg front">Find nuts near you</button>
  </div>

</div>
<div class="secondary-topic">
  <div class="popular-trails">
    <div class="title">Explore Trails</div>
  </div>
  <div class="container-fluid">
    <div class="col-md-4">
      <div class="image">
        <img src="http://res.cloudinary.com/disran0g3/image/upload/v1440288918/StLMParkBench_bhgg89.jpg" alt="park bench"/>
        <div class="words">Stroll through Golden Gate Park</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="image">
        <img src="http://res.cloudinary.com/disran0g3/image/upload/v1440289211/2009_MT_01_tm3fox.jpg" alt="forest"/>
        <div class="words2">Forest Scavenger Hunt</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="image">
        <img src="http://res.cloudinary.com/disran0g3/image/upload/v1440289866/lands-end-trail_2_hsfxqu.jpg" alt="land's end trail"/>
        <div class="words">A bite to eat at the beach</div>
      </div>
    </div>
  </div>
</div>

<div class="tertiary-topic">
  <div class="title">Create</div>
  <div class="container-fluid">
    <div class="col-md-4">
      <div class="image">
        <img src="http://res.cloudinary.com/disran0g3/image/upload/v1440284098/squirrel_with_keyboard_skle0l.jpg" alt="squirrel at keyboard"/>
        <div class="words">Record foraging trails</div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="image">
        <img src="http://res.cloudinary.com/disran0g3/image/upload/v1440284103/13jun15_114326_gallery_cnim65.jpg" alt="squirrel showing off smart phone"/>
        <div class="words">Share acorn stashes</div>
      </div>
    </div>
  </div>
  </div>
</div>
