<div class="title"><%= acornStash.escape('title') %></div>
<hr>
<div class="description"><%= acornStash.escape('description') %></div>
<% if (acornStash.get('image_url')) { %>
  <div class="picture"><img src="<%= acornStash.get('image_url') %>"/></div>
<% } %>
