<form>
  <label>Title</label>
  <input type="text"
         name="acorn_stash[title]"
         class="form-control">
  <br>
  <label>Description (optional)</label>
  <textarea name="acorn_stash[description]"
            class="form-control"></textarea>
  <br>
  <label>Select Location</label>
  <div class="acorn-map"></div>
</form>
