<h3>Add Acorn Stashes</h3>
<div class="container-fluid">
  <div class="col-sm-8">
    <div class="google-maps-show"></div>
  </div>
</div>
<div class='errors'></div>
<div class='stash-form-bottom'>
  <button>Finish Trail!</button>
</div>
