<div class="trail-form">
  <div class="container-fluid">
    <div class="trail-form-box">
      <div class="container-fluid">
        <div class="acorn-form-text">Add Acorn Stashes</div>
        <div class='errors'></div>
        <div class="google-maps-acorn"></div>
      </div>
    </div>
    <div class='stash-form-bottom'>
      <button class='btn btn-success btn-lg create-trail'>Finish Trail!</button>
    </div>
  </div>
</div>
