<h2>Trail Preview</h2>
<div class='show-trail'></div>
<h3>Add Acorn Stashes</h3>
<div class='errors'></div>
<div class='acorn-stash-forms'></div>
<div class='stash-form-bottom'>
  <a href="javascript:void(0)">+ add more stashes</a> or,
  <button>Finish Trail!</button>
</div>
