<div class="username">About <%= author.escape('username') %>:</div>
<div class="description">
  <%= author.escape('description') %>
</div>
<div class="picture">
  <img src="<%= author.get('image_url') %>"/>
</div>
