<h4><%= user.escape('username') %></h4>
<div class="updated"></div>
<div class="description">
  <% if (user.escape('description')) { %>
    <p><%= user.escape('description') %></p>
  <% } else { %>
    <label>Tell us a little about yourself</label>
    <textarea name="user[description]" class="form-control"></textarea>
  <% } %>
</div>
<div class="profile-picture">
  <% if (user.escape('image_url')) { %>
    <img src="<%= user.get('image_url') %>"/>
  <% } else { %>
    <button class="image form-control">Create Profile Picture</button>
  <% } %>
</div>

<input type="submit" class="form-control" value="Update Profile">
<button class="cancel form-control">Cancel</button>
