<div class="hamburger">&#9776</div>
<div class="bar hidden">
  <div><a href="#">about</a></div>
  <div><a href="#/explore">explore</a></div>
  <% if (currentUserID === -1) { %>
    <div><a href="signin">sign in to create trail</a></div>
  <% } else { %>
    <div><a href="#/trails/new">create trail</a></div>
    <div><a href="#/edit_profile">edit profile</a></div>
    <div class='logout'><a href="javascript:void(0)">logout</a></div>
  <% } %>
</div>
