<h3>Submit a Review</h3>
<div class="rating"
  ><img class="acorn" data-number="1" src="http://res.cloudinary.com/disran0g3/image/upload/c_scale,h_38,w_34/v1439596065/betteracorn_bandw_h51fhs.png"/
  ><img class="acorn" data-number="2" src="http://res.cloudinary.com/disran0g3/image/upload/c_scale,h_38,w_34/v1439596065/betteracorn_bandw_h51fhs.png"/
  ><img class="acorn" data-number="3" src="http://res.cloudinary.com/disran0g3/image/upload/c_scale,h_38,w_34/v1439596065/betteracorn_bandw_h51fhs.png"/
  ><img class="acorn" data-number="4" src="http://res.cloudinary.com/disran0g3/image/upload/c_scale,h_38,w_34/v1439596065/betteracorn_bandw_h51fhs.png"/
  ><img class="acorn" data-number="5" src="http://res.cloudinary.com/disran0g3/image/upload/c_scale,h_38,w_34/v1439596065/betteracorn_bandw_h51fhs.png"/>
</div>
<textarea class="form-control" name="review[content]"></textarea>
<input type="submit" value="Comment" class="form-control">
