<div class="title"><%= trail.escape('title') %></div>
<hr>
<div class="description"><%= trail.escape('description') %></div>

<% if (trail.acornImage().get('image_url')) { %>
  <div class="picture"><img src="<%= trail.acornImage().get('image_url') %>"/></div>
<% } %>
<button class="btn btn-success">Check it out!</button>
