<div class="container-fluid">
  <div class="header">Explore
  <div class="search-options">
    <input id="autocomplete" class="search-input" placeholder="Search the Bay Area" type="text"/>
  </div>
  </div>
</div>
