<div class="google-maps-search"></div>
<div class="container-fluid">
  <div class="header">Explore</div>
  <div class="search-options">
    <input id="autocomplete" class="search-input" placeholder="Search by city" type="text"/>
  </div>
</div>
<div class="navigation">&#9776</div>
