  <div class="trail-show">
    <div class="trail-title more"><%= trail.escape('title') %>
    <span class="glyphicon glyphicon-menu-down stuff" aria-label="more info"></span>
      <div class="info hidden">
        <hr>
        <div class="description"><%= trail.escape('description') %></div>
        <hr>
        <div class="author"></div>
        <hr>
        <div class="review-form"></div>
        <div class="reviews container"></div>
      </div>
    </div>
  </div>
