<div class="header">
  <div>Select notable points to share Acorn Stashes</div>
  <div class='errors'></div>
</div>
<div class='upper-right'>
  <button class='btn btn-success btn-lg'>Finish Trail!</button>
</div>
