  <div class="trail-show full">
    <div class="trail-title">
      <div class="title less">
        <%= trail.escape('title') %>
        <span class="glyphicon glyphicon-menu-up stuff" aria-label="more info"></span>
      </div>
      <div class="info">
        <hr>
        <div class="description"><%= trail.escape('description') %></div>
        <hr>
        <div class="author"></div>
        <hr>
        <div class="review-form"></div>
        <div class="review-messages"></div>
        <% if (trail.reviews().length) { %>
          <div class="review-header">Reviews</div>
        <% } %>
        <div class="reviews container"></div>
      </div>
    </div>
  </div>
