<h1><%= trail.escape('title') %></h1>
<div class="google-maps-show"></div>
<p><%= trail.escape('description') %></p>
<div class="acorn-stashes"></div>
<div class="author"></div>
<div class="review-form"></div>
<div class="reviews"></div>
