
  <div class="container-fluid">
    <div class="col-sm-8">
      <div class="google-maps-show"></div>
    </div>
    <div class="col-sm-4">
      <div class="trail-content">
        <div class="trail-info">
          <div class="title"><%= trail.escape('title') %></div>
          <div class="description"><%= trail.escape('description') %></div>
        </div>
        <div class="author"></div>
      </div>
    </div>
  </div>
  <div class="review-form col-sm-6"></div>
</div>
    <h4>Reviews</h4>
    <div class="reviews container"></div>
