
<div class="container-fluid">
  <div class="col-sm-8">
    <div class="google-maps-show"></div>
  </div>
  <div class=".col-sm-4">
    <div class="trail-content">
      <div class="title"><%= trail.escape('title') %></div>
      <div class="description"><%= trail.escape('description') %></div>
    </div>
  </div>
</div>
