<div class="form-header">
  <div class="form-instructions">Select notable points to share Acorn Stashes</div>
</div>
<div class="top-right">
  <button class='btn btn-success btn-lg'>Finish Trail!</button>
</div>
