<div class="m-background"></div>

<div class="m-content">
  <div class="search-box">
      <button class="close">&times;</button>
    <input class="trail-form-search" type="text" id="autocomplete" placeholder="In which city did you forage?">
  </div>
</div>
