<div class="bottom-right">
<button class="reset btn btn-lg btn-warning">Start Over</button>
</div>

<div class="left-hand-side">
  <div class="form-title">Describe Your Journey</div>
  <div class="trail-info-form">
    <div class="errors"></div>
    <form>
      <input type="text"
         name="trail[title]"
         placeholder="Title (required)"
         value="<%= trail.escape('title') %>">
      <br>
      <textarea name="trail[description]"
            placeholder="Description (optional)"
            id="trail-description"><%= trail.escape('description') %></textarea>
    </form>
    <div class="instructions">Draw trail by dropping pins on the map <i>(required)</i></div>
      <button class="btn btn-success btn-lg create-trail">Create Trail</button>
  </div>
</div>
