<style>
  body {
      background-image: url('http://res.cloudinary.com/disran0g3/image/upload/v1439843078/catd3mvqxekff6qsylhx.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
</style>

<div class="trail-form">
  <div class="container-fluid">
      <div class="errors"></div>
      <form>

          <div class="trail-form-text">Name your Trail</div>
          <input type="text"
                 name="trail[title]"
                 class="form-control"
                 value="<%= trail.escape('title') %>">
        <br>
        <div class="trail-form-text">Trail Overview (optional)</div>
        <textarea name="trail[description]"
                  class="form-control"
                  id="trail-description"><%= trail.escape('description') %></textarea>
        <br>
        <div class="trail-form-box">
          <div class="container-fluid">
            <div class="draw-word">Draw trail by dropping points on the map</div>
            <button class="reset btn btn-warning">Start Over</button>
          </div>
          <div class="container-fluid">
            <div class="google-maps-draw"></div>
          </div>
        </div>
        <input type="submit" value="Create Trail" class="btn btn-success btn-lg create-trail">
      </form>
  </div>
</div>
