<div class="row">
  <div class="col-sm-8">
    <div class="google-maps-show"></div>
  </div>
  <div class=".col-sm-4">
    <div class="trail-content">
      <div class="title"><%= trail.escape('title') %></div>
      <div class="description"><%= trail.escape('description') %></div>
      <div class="featured-acorn"></div>
      <div class="author"></div>
    </div>
  </div>
</div>
      <div class="acorn-stashes"></div>
      <div class="review-form"></div>
      <div class="reviews"></div>
