<div class="form-header">
  <div class="form-instructions">Draw trail by selecting points on the map</div>
</div>
<div class="top-right">
  <div class="btn-group">
    <button class="reset btn btn-lg btn-warning">Start Over</button>
    <button class="btn btn-success btn-lg create-trail">Create Trail</button>
  </div>
</div>
